body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* para o body ocupar toda a tela */
  font-family: Arial, Sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cpf-card {
  background-image: url('/cpf-card.svg'); 
  width: 800px; /* largura do container */
  height: calc(1100px * 0.5); /* largura * proporção */
  background-size: cover; /* ajustando o svg ao tamanho do container */
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* essencial para o posicionamento dos filhos */
  border-radius: 8px; /* borda arrendondada */
  overflow: hidden;
}

/* estilo e posicionamento do campo de texto */
#cpf-number {
position: absolute;
color: #000; /* cor do texto */
font-weight: bold;
font-size: 26px; 
letter-spacing: 0.5px; /* espaçamento dos numeros */
top: 78px; /* ajuste do top em relação ao campo de cpf do svg */
left: 180px; /* ajuste do left em relação ao campo de cpf do svg */
}

#generate-btn {
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #008000;
  background-color: white;
  color: #008000;
  border-radius: 8px;
}

